@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>Project Ownership & Authorship</h3>

<p>
This project has been created as part of an exam 
assignment at OsloMet. All creative work, coding, and written content have been produced exclusively by Raja Hamza, Jakub Zych, and Elona Jasari.
 They are the sole authors and retain full ownership of the intellectual property generated in this project.</p>
